/*archivo css original a partir del modulo 4 usamos sass (o less) para generarlo automaticamente 
y el archivo referenciado ya no es este sino el styles.css*/
.jumbotron{
    background-color: rgb(24, 161, 224);
    color:white;
    margin-top: 50px;
}

.badgecolor{
    background-color:rgb(24, 161, 224);
    color:white;
}

.btn-contratar{
    width: 100%;
    border-radius: 0px;
}

.btn-primary{
    background-color: rgb(24, 161, 224);
    border-color: rgb(24, 161, 224);
}

.btn-i{
    border-radius: 5rem;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:rgb(38 45 47);
    margin-bottom: 0px;
    margin-top: 30px;
    bottom: 0;
    color:white;
}
footer a, a:hover{
    color: rgb(24, 161, 224);
}
.footer-address-icon{
    padding-right: 10px;
}


