/*archivo less que genera el archivo style2.css definnitivo (actualmente no usamos less sino sass)*/
@bluecolor: #18a1e0;
@whitecolor: #ffffff;
@footerbackground: #262d2f;

.colors (@background:blue, @color:white){
    background-color: @background;
    color: @color;
}

.jumbotron{
    .colors(@bluecolor,@whitecolor);
    margin-top: 50px;
}

.badgecolor{
    .colors(@bluecolor,@whitecolor);
}

.btn-contratar{
    width: 100%;
    border-radius: 0px;
}

.btn-primary{
    background-color: @bluecolor;
    border-color: @bluecolor;
}

.btn-i{
    border-radius: 5rem;
}

footer{
    .colors(@footerbackground,@whitecolor);
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 30px;
    bottom: 0;
    
}
footer a, a:hover{
    color: @bluecolor;
}
.footer-address-icon{
    padding-right: 10px;
}


