/*archivo sass que genera el archivo style.css definnitivo*/
$bluecolor: #fff;
$whitecolor: #ffffff;
$footerbackground: #262d2f;

@mixin colors ($background, $color){
    background-color: $background;
    color: $color;
}

.jumbotron{
    @include colors($bluecolor,$whitecolor);
    margin-top: 50px;
}

.badgecolor{
    @include colors($bluecolor,$whitecolor);
}

.btn-contratar{
    width: 100%;
    border-radius: 0px;
}

.btn-primary{
    background-color: $bluecolor;
    border-color: $bluecolor;
}

.btn-i{
    border-radius: 5rem;
}

footer{
    @include colors($footerbackground,$whitecolor);
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 30px;
    bottom: 0;
    
}
footer a, a:hover{
    color: $bluecolor;
}
.footer-address-icon{
    padding-right: 10px;
}


