/*archivo sass que genera el archivo style.css definnitivo*/
.jumbotron {
  background-color: #fff;
  color: #ffffff;
  margin-top: 50px; }

.badgecolor {
  background-color: #fff;
  color: #ffffff; }

.btn-contratar {
  width: 100%;
  border-radius: 0px; }

.btn-primary {
  background-color: #fff;
  border-color: #fff; }

.btn-i {
  border-radius: 5rem; }

footer {
  background-color: #262d2f;
  color: #ffffff;
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 30px;
  bottom: 0; }

footer a, a:hover {
  color: #fff; }

.footer-address-icon {
  padding-right: 10px; }
